<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./styleHome.css">
    <title>Home</title>
</head>

<body>
    <div class="header">
    </div>
    <div class="main">
        <h1>Accede a las secciones</h1>
        <div class="seccion-recursos">
            <ul>
                <li><a href="/recursos">Listado de Recursos</a></li>
                <li><a href="/usuaris">Listado de Usuarios</a></li>
                <li><a href="/notificacions">Listado de Notificaciones</a></li>
                <li><a href="/reserves">Listado de Reservas</a></li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <p>&copy; Gestió de recursos</p>
        <p>Desarrollado por <span>Iago</span></p>
    </div>
</body>

</html>